
<header>
  <div class="container">
    {{ page.header }}
  </div>
</header>

<div class="container-fluid">
  {{ page.content }}
</div>

<footer>
  <div class="container">
      {{ page.footer }}
      <p> © 2021 BrightEdge   Privacy Policy | Legal | Anti Slavery & Human Trafficking Statement </p>
  </div>

</footer>





