body{}header{background:#009dda;}nav ul li{display:inline-block;list-style:none;}footer nav ul li{display:block;list-style:none;}.fas{color:white;}#showHidesearchForms{padding:10px;}.hidden{display:none !important;}.tb-megamenu-nav li a{color:white;text-decoration:none;padding:0px 15px;text-transform:uppercase;}#block-brightedge-sitebranding,.search-block-form,#block-brightedge-main-menu{display:inline-block;}.search-block-form{float:right;}footer{padding:60px 0px;background:#1b1c28;}
